/* #drawer-root {
  height: 100%;
  width: 100%;
  position: absolute;
} */

.drawer-container {
  --transition-speed: 0.3s;
}

.drawer {
  width: 30%;
  overflow: auto;
  position: fixed;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: transform var(--transition-speed) ease;
  z-index: 500;
}

.backdrop {
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(4px);
  transition:
    opacity var(--transition-speed) ease,
    visibility var(--transition-speed) ease;
  width: 100%;
  pointer-events: none;
  z-index: 0;
}

/*
      Only apply the box-shadow when open to prevent the shadow
    from appearing on the edge of the screen when inactive
   */
.drawer-container.open .drawer {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.drawer-container.in.open .backdrop {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  z-index: 499;
}

.drawer.left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.drawer.right {
  top: 0;
  right: 0;
  transform: translateX(100%);
}

.drawer.top {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(-100%);
  height: 40%;
}

.drawer.bottom {
  bottom: 47px;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(calc(100% - 64px));
}

.drawer-container.in.open .left,
.drawer-container.in.open .right {
  transform: translateX(0);
}

.drawer-container.in.open .top,
.drawer-container.in.open .bottom {
  transform: translateY(0);
}
